.feedbacks {
	min-height: 970px;
	padding-bottom: 50px;
	margin: 0 auto;
	&__feed {
		margin-top: 60px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	&__comment {
		margin-left: 60px;
	}
	&__img {
		display: inline-block;
	}
	&__name {
		font-weight: 700;
		font-size: 18px;
		color: #0D0D0D;
		line-height: 10px;
	}
	&__subtitle {
		font-weight: 500;
		font-size: 14px;
		color: #646464;
	}
	&__descr {
		width: 664px;
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		color: #0D0D0D;
		margin-top: 10px;
	}
}